[submodule "tools/Sharpmake"]
	path = tools/Sharpmake
	url = https://github.com/ubisoft/Sharpmake
[submodule "code/libraries/rose-common"]
	path = code/libraries/rose-common
	url = https://github.com/StripeRose/rose-common.git
[submodule "code/libraries/DirectXTex"]
	path = code/libraries/DirectXTex
	url = https://github.com/Microsoft/DirectXTex
[submodule "code/libraries/tracy"]
	path = code/libraries/tracy
	url = https://github.com/wolfpld/tracy.git
